.hidden {
  display: none;
}

#imgMap {
  width: 33rem;
  height: 33rem;
  box-shadow: 10px 10px;
}

.card-maior {
  display: inline-block;
  flex-direction: row-reverse;
  margin-left: 50%;
  position: absolute;
  width: 35rem;
  height: 35rem;
  position: relative;
}

@media screen and (max-width: 600px) {
  .card-maior {
    display: inline-block;
    margin-left: 0%;
    width: 25rem;
    height: 35rem;

    #imgMap {
      width: 25rem;
      height: 30rem;
    }
  }
}
