.hidden {
  display: none;
}

#imgMap {
  width: 33rem;
  height: 33rem;

}

.card-maior {
  display: inline-block;
  flex-direction: row-reverse;
  margin-left: 50%;
  position: absolute;
  width: 35rem;
  height: 35rem;
  position: relative;
  background-color: #02AE7A;
}


@media screen and (max-width: 600px) {
  .card-maior {
    display: inline-block;
    margin-left: 8%;
    width: 25rem;
    height: 35rem;
    background-color: #02AE7A;

    #imgMap {
      width: 23rem;
      height: 30rem;
    }

  }
}
