.card {
  width: 250px;
  height: 250px;
  padding-bottom: 10%;
  margin-left: 5%;

}

.pesquisa {
  width: 50%;
  height: 20%;
  margin-left: 25%;
  padding-bottom: 2%;
  padding-top: 5%;

}


@media screen and (max-width: 600px) {
  .card {
    width: 150px;
    height: 150px;
    margin-top: 30%;
  }

  .pesquisa {
    width: 70%;
    height: 50%;
    margin-left: 15%;

  }

}
