@if(showLogo){
<img class="logo" id="logoL"
  src="https://res.cloudinary.com/dkrl41s4z/image/upload/v1716911500/frameworkdev/LOGOAIWR_frg1rx.png" alt="logo">
}
@if(showSearch){
<div class="pesquisa">
  <form role="search">
    <input focus class="form-control me-2" type="text" placeholder="Pesquisar Localização.." [(ngModel)]="cityAddress"
      name="address" required aria-label="Search">
    <button class="btn btn-outline-dark" type="button" value="hideComponent" id="hideAndShow"
      (click)="search();onButtonClick(); clicker();">Pesquisar</button>

  </form>
</div>
}
@if(showCardInit){
<div class="card text-center position-absolute  absolute-bottom" id="cardTemp">
  <div class="card-body">
    <h5 class="card-title">Ultima Pesquisa</h5>
    <a>XCidadeX</a>
    <div class="item">
      <div class="icon"> <i class="bi bi-sun" style="color:#FF810C;"></i></div>
      <div class="descricao">Item 1</div>
    </div>
  </div>
</div>
}

@if(showToday){
<!-- Card normal acima do container -->
<div class="card invisible">
  <div class="card-body">
    <h5 class="card-title">bkp</h5>
    <p class="card-text">bkp</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title  text-center">{{currentDay}}</h5>
    <div class="item">
      <div class="icon"> <i class="bi bi-sun" style="color:#FF810C;"></i></div>
      <div class="descricao">Item 1</div>
    </div>
  </div>
</div>
<h5 id="frase">O Clima na sua cidade, {{currentDay}} e sempre!</h5>
}
