/*.card {
  width: 250px;
  height: 250px;
  padding-bottom: 10%;
  margin-left: 5%;

}*/

#cardTemp {
  position: fixed;
  bottom: 20px;
  left: 20px;
  max-width: 300px;
  background-color: #02AE7A;
}

#logoL {
  display: block;
  max-width: 10%;
  height: auto;
  margin-left: 33%;
  margin-top: 10px;
}

/*
.pesquisa {
  width: 50%;
  height: 20%;
  margin-left: 25%;
  padding-bottom: 2%;
  padding-top: 5%;

}*/

.pesquisa {
  margin: 20px auto;
  text-align: center;
  max-width: 600px;
}

.pesquisa form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pesquisa input {
  flex: 1;
  min-width: 200px;
  margin-bottom: 10px;
}

.pesquisa button {
  flex: 0 1 auto;
  min-width: 150px;
}

@media screen and (max-width: 600px) {

  /*.card {
    width: 150px;
    height: 150px;
    margin-top: 30%;
  }
*/
  /*
  .pesquisa {
    width: 70%;
    height: 50%;
    margin-left: 15%;

  }
*/
  .pesquisa form {
    flex-wrap: nowrap;
  }

  .pesquisa input {
    margin-bottom: 0;
    margin-right: 10px;
  }

  #logoL {
    width: 10%;
    height: auto;
    margin: 0 auto;

  }
}


/* Estilos gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  position: absolute;
  /* Adicionado para posicionar os elementos absolutamente */
  min-height: 100vh;
  /* Altura mínima para preencher a tela */
  padding-bottom: 10rem;
  /* Espaço no final do corpo para os cards */
}

/* Estilo para o card */
.card {
  width: 14rem;
  /* Tamanho lateral pequeno */
  height: 12rem;
  /* Longo verticalmente */
  margin-left: 1rem;
  background-color: #02AE7A;
}

.invisible {
  display: block;
  visibility: hidden;
}

/* Estilo para o card maior */
.card-maior {
  display: flex;
  flex-direction: row-reverse;
  float: right;
  width: 30rem;
  margin-right: 1rem;
  /* Tamanho lateral maior */
  height: 35rem;
  /* Longo verticalmente */
  position: absolute;
  /* Posicionado absolutamente */
  right: 0;
  /* No canto inferior direito */
  bottom: 0;
  /* No canto inferior direito */
}

/* Estilo para o container do grupo de cards */
.container-cards {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  margin-bottom: 3rem;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  /* Bordas arredondadas */
  border: 4px solid #2EBFD2;
  /* Borda do container */
  padding: 1rem;
  /* Espaçamento interno do container */
  background-color: #02AE7A;
  /* Cor de fundo do container */
}


@media screen and (max-width: 600px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    position: relative;
    /* Adicionado para posicionar os elementos absolutamente */
    min-height: 100vh;
    /* Altura mínima para preencher a tela */
    padding-bottom: 10rem;
    /* Espaço no final do corpo para os cards */
  }

  /* Estilo para o card */
  .card {
    width: 14rem;
    /* Tamanho lateral pequeno */
    height: 12rem;
    /* Longo verticalmente */
    margin-left: 1rem;
    background-color: #02AE7A;
  }

  .invisible {
    display: none;
    visibility: hidden;
  }

  /* Estilo para o card maior */
  .card-maior {
    display: flex;
    flex-direction: row-reverse;
    float: right;
    width: 20rem;
    margin-right: 35px;
    margin-left: 5px;
    /* Tamanho lateral maior */
    height: 35rem;
    /* Longo verticalmente */
    position: relative;
    /* Posicionado absolutamente */
    right: 0;
    /* No canto inferior direito */
    bottom: 0;
    /* No canto inferior direito */
    background-color: #02AE7A;
  }

  /* Estilo para o container do grupo de cards */
  .container-cards {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    margin-bottom: 3rem;

    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    /* Bordas arredondadas */
    border: 3px solid #2EBFD2;
    /* Borda do container */
    padding: 10px;
    /* Espaçamento interno do container */
    background-color: #02AE7A;
    /* Cor de fundo do container */
  }
}
