@if(showLogo){
<img class="logo" id="logo"
  src="https://res.cloudinary.com/dkrl41s4z/image/upload/v1716911500/frameworkdev/LOGOAIWR_frg1rx.png" alt="logo">
}
@if(showSearch){
<div class="pesquisa">
  <form role="search">
    <input class="form-control me-2" type="search" placeholder="Pesquisar Localização.." aria-label="Search">
    <button class="btn btn-outline-success" type="button" value="hideComponent" id="hideAndShow"
      (click)="search()">Pesquisar</button>
  </form>
</div>
}

@if(showCardInit){
<div class="card text-center" id="cardTemp">
  <div class="card-body">
    <h5 class="card-title">Ultima Pesquisa</h5>
    <i class="bi bi-sun" style="font-size: 6rem;color:#FF810C;"></i>

  </div>
</div>
}
