#frase {
  text-align: center;
}

.item {
  text-align: center;
  margin: 10px;
}

.icon {
  font-size: 50px;
  margin-bottom: 10px;
}

.descricao {
  font-weight: bold;
}

.detalhe {
  color: #666;
  font-size: 14px;
}


#cardTemp {
  bottom: 20px;
  left: 20px;
  max-width: 300px;
  background-color: #02AE7A;
}

#logoL {
  display: block;
  max-width: 10%;
  height: auto;
  margin-left: 33%;
  margin-top: 10px;
}

.pesquisa {
  margin: 20px auto;
  text-align: center;
  max-width: 600px;
}

.pesquisa form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pesquisa input {
  flex: 1;
  min-width: 200px;
  margin-bottom: 10px;
}

.pesquisa button {
  flex: 0 1 auto;
  min-width: 150px;
}

@media screen and (max-width: 600px) {

  .pesquisa form {
    flex-wrap: nowrap;
  }

  .pesquisa input {
    margin-bottom: 0;
    margin-right: 10px;
  }

  #logoL {
    width: 10%;
    height: auto;
    margin: 0 auto;

  }
}


/* Estilos gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  position: absolute;
  /* Adicionado para posicionar os elementos absolutamente */
  min-height: 100vh;
  /* Altura mínima para preencher a tela */
  padding-bottom: 10rem;
  /* Espaço no final do corpo para os cards */
}

/* Estilo para o card */
.card {
  width: 14rem;
  /* Tamanho lateral pequeno */
  height: 12rem;
  /* Longo verticalmente */
  margin-left: 1rem;
  background-color: #02AE7A;
}

.invisible {
  display: block;
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    position: relative;
    /* Adicionado para posicionar os elementos absolutamente */
    min-height: 100vh;
    /* Altura mínima para preencher a tela */
    padding-bottom: 10rem;
    /* Espaço no final do corpo para os cards */
  }

  /* Estilo para o card */
  .card {
    width: 14rem;
    /* Tamanho lateral pequeno */
    height: 12rem;
    /* Longo verticalmente */
    margin-left: 1rem;
    background-color: #02AE7A;
  }

  .invisible {
    display: none;
    visibility: hidden;
  }
}
