.hidden {
  display: none;
}

@media screen and (min-width: 601px) {
  nav {
    font-size: 60px;
    float: left;
  }
}

@media screen and (max-width: 600px) {
  nav {
    font-size: 30px;
  }
}

nav {
  background-color: transparent;
  color: white;

}

#hiddenSearch {
  font-size: medium;

  margin-left: 20%;
}

#typeSearch {
  font-size: medium;
  float: left;
  position: absolute;
}
