<nav class="navbar  justify-content-around">
  <div> </div>
  Weather Report
  <div>

    <button type="submit" id="hiddenSearch" class=" btn btn-outline-dark bi bi-search" [class.hidden]="hide"
      data-bs-toggle="modal" data-bs-target="#staticBackdrop"></button>
  </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Pesquise a cidade desejada</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <input type="text" id="typeSearch" name="address" [(ngModel)]="cityAddress">
        </form>
      </div>
      <div class="modal-footer">
        <!--  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>-->
        <button type="button" class="btn btn-primary" (click)="function()" data-bs-dismiss="modal">Pesquisar</button>
      </div>
    </div>
  </div>
</div>
