<div [class.hidden]="hideWeek">
  <div class="container">
    <div class="item">
      <div class="icon"> <i class="bi bi-sun" style="color:#FF810C;"></i></div>
      <div class="descricao">Item 1</div>
      <div class="detalhe">Detalhe 1</div>
    </div>
    <div class="item">
      <div class="icon"> <i class="bi bi-sun" style="color:#FF810C;"></i></div>
      <div class="descricao">Item 2</div>
      <div class="detalhe">Detalhe 2</div>
    </div>
    <div class="item">
      <div class="icon"> <i class="bi bi-sun" style="color:#FF810C;"></i></div>
      <div class="descricao">Item 3</div>
      <div class="detalhe">Detalhe 3</div>
    </div>
    <div class="item">
      <div class="icon"> <i class="bi bi-sun" style="color:#FF810C;"></i></div>
      <div class="descricao">Item 4</div>
      <div class="detalhe">Detalhe 4</div>
    </div>
    <div class="item">
      <div class="icon"> <i class="bi bi-sun" style="color:#FF810C;"></i></div>
      <div class="descricao">Item 5</div>
      <div class="detalhe">Detalhe 5</div>
    </div>
  </div>
</div>
