<div [class.hidden]="hideWeek">
  <div class="container">
    <div class="item">
      <div class="icon"> <i class="bi bi-sun" style="color:#FF810C;"></i></div>
      <div class="descricao">{{tempOne}}</div>
      <div class="detalhe">{{dayOne}}</div>
    </div>
    <div class="item">
      <div class="icon"> <i class="bi bi-sun" style="color:#FF810C;"></i></div>
      <div class="descricao">{{tempTwo}}</div>
      <div class="detalhe">{{dayTwo}}</div>
    </div>
    <div class="item">
      <div class="icon"> <i class="bi bi-sun" style="color:#FF810C;"></i></div>
      <div class="descricao">{{tempThree}}</div>
      <div class="detalhe">{{dayThree}}</div>
    </div>
    <div class="item">
      <div class="icon"> <i class="bi bi-sun" style="color:#FF810C;"></i></div>
      <div class="descricao">{{tempFour}}</div>
      <div class="detalhe">{{dayFour}}</div>
    </div>
    <div class="item">
      <div class="icon"> <i class="bi bi-sun" style="color:#FF810C;"></i></div>
      <div class="descricao">{{tempFive}}</div>
      <div class="detalhe">{{dayFive}}</div>
    </div>
  </div>
</div>
