<app-nav></app-nav>
<main>
  <svg focusable="false" role="img" class="bi" width="32" height="32" fill="black">
    <use xlink:href="bootstrap-icons.svg#heart-fill" />
  </svg>
  <svg class="bi" width="32" height="32" fill="currentColor">
    <use xlink:href="bootstrap-icons.svg#toggles" />
  </svg>
  <svg class="bi" width="32" height="32" fill="currentColor">
    <use xlink:href="bootstrap-icons.svg#shop" />
  </svg>

  <router-outlet></router-outlet>
  <router-outlet name="outletDois"></router-outlet>
</main>
<footer>
  <div>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</div>
</footer>
