/* Estilos gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  position: absolute;
  /* Adicionado para posicionar os elementos absolutamente */
  min-height: 100vh;
  /* Altura mínima para preencher a tela */
  padding-bottom: 10rem;
  /* Espaço no final do corpo para os cards */
}

/* Estilo para o card */
.card {
  width: 14rem;
  /* Tamanho lateral pequeno */
  height: 12rem;
  /* Longo verticalmente */

  margin-left: 1rem;
}

.invisible {
  display: block;
  visibility: hidden;
}

/* Estilo para o card maior */
.card-maior {
  display: flex;
  flex-direction: row-reverse;
  float: right;
  width: 30rem;
  margin-right: 1rem;
  /* Tamanho lateral maior */
  height: 35rem;
  /* Longo verticalmente */
  position: absolute;
  /* Posicionado absolutamente */
  right: 0;
  /* No canto inferior direito */
  bottom: 0;
  /* No canto inferior direito */
}

/* Estilo para o container do grupo de cards */
.container-cards {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  margin-bottom: 3rem;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 1px;
  /* Bordas arredondadas */
  border: 1px solid #ccc;
  /* Borda do container */
  padding: 1rem;
  /* Espaçamento interno do container */
  background-color: white;
  /* Cor de fundo do container */
}
