@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Inter:wght@100..900&display=swap');

/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url(https://res.cloudinary.com/dkrl41s4z/image/upload/v1716911481/frameworkdev/horizon-cloud-sky-sun-sunrise-sunset-653184-pxhere.com_bqr2nw.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
